@import "../main/parameters";

.friends-section {

    &__row {
        background-color: $c-light-bg;
        margin-bottom: 14rem;
        border-radius: 5rem;
    }

    &__content {
        padding: 1rem 0 0 14rem;
        display: flex;
    }

    &__text {
        width: 50%;
    }

    &__imgs {
        width: 50%;
        -webkit-transform: scaleX(-1);
        transform: scaleX(-1);
    }

    &__img-drink {
        position: absolute;
        bottom: 2rem;
        left: 23rem;
        z-index: 0;
        max-width: 15.5vw;
    }

    &__img-berries {
        position: absolute;
        bottom: -4.5rem;
        left: -10.5rem;
        z-index: 0;
        max-width: 13vw;
    }
}

@media screen and (max-width: $md) {

    .friends-section__content {
        padding: 1rem 0 0 7rem;
    }

    .friends-section {

        &__img-berries {
            bottom: 6rem;;
            left: -6rem;
        }

        &__img-drink {
            bottom: 11rem;
            left: 19rem;
        }
    }
}

@media screen and (max-width: $sm) {

    .friends-section {
    
        &__content {
            padding: 1rem 0 0 3rem;
        }

        &__row {
            margin-bottom: 12rem;
        }

        &__img-berries {
            bottom: 10rem;;
            left: -6rem;
        }

        &__img-drink {
            bottom: 14rem;
            left: 13rem;
        }
    }
}

@media screen and (max-width: $xs) {

    .friends-section {

        &__row {
            margin-bottom: 10rem;
        }

        &__img-berries {
            bottom: 20rem;;
            left: -6rem;
        }

        &__img-drink {
            bottom: 23rem;
            left: 8rem;
        }
    }
}