@import "../main/parameters";

.items {

    .container {
        padding: 10rem 3.5rem 0;
    }

    &__row {
        display: flex;
        flex-wrap: wrap;
        margin: 0 -15px;
    }

    &__column {
        margin-bottom: 2rem;
        width: 33.3333%;
        padding: 0 15px;
    }
}

.item {

    &__img {
        margin-bottom: 2.9rem;
    }

    &__title {
    font-weight: bold;
    font-size: 2.5rem;
    line-height: 1.3;
    letter-spacing: 0.02rem;
    color: $c-text;
    margin-bottom: 1.2rem;
    }

    &__description {
    font-size: 1.6rem;
    line-height: 1.5;
    color: $c-text2;
    max-width: 29.6rem;
    }
} 

@media screen and (max-width: $sm) {
    .item {
        &__title {
            font-size: 2.3rem;
        }

        &__description {
            font-size: 1.6rem;
        }
        &__description {
            max-width: 100%;
        }
    }
}

@media screen and (max-width: $xs) {
    .items {
        &__column {
            width: 80%;
        }

        &__row {
            justify-content: center;
            text-align: center;
            padding-top: 3rem;
        }
    }
}