@import "../main/parameters";

.main-section {
    background-color: $c-light-bg;

    &__row {
        display: flex;
        justify-content: space-between;
        padding-left: 3.5rem;
    }

    &__content {
        min-height: 72rem;
        flex: 1 0 50%;
        max-width: 50%;
        padding-top: 20rem;
    }

    &__title {
        font-weight: bold;
        font-size: 5.5rem;
        line-height: 1.38;
        color: $c-text;
        letter-spacing: 0.02em;
        margin-bottom: 5rem;

        .primary {
            color: $c-primary;
            display: block;
        }

        .dot {
            color: #F3AF47;
        }
    }

    &__btn {
        display: inline-block;
        background: $c-primary;
        border: 0.1rem solid $c-primary;
        box-sizing: border-box;
        box-shadow: 0 0.3rem 1.8rem rgba(0, 201, 201, 0.55);
        border-radius: 1.4rem;
        font-weight: bold;
        font-size: 1.8rem;
        line-height: 1.2;
        color: $c-text;
        padding: 1.9rem 2.1rem;
    }

    &__btn:hover {
        color: $c-primary;
        background-color: $c-text;
    }

    &__img-wrap {
        flex: 1 0 50%;
        max-width: 50%;
        min-height: 72rem;
        position: relative;
    }

    &__img {
        position: absolute;
        bottom: 0;
        right: -4.6vw;
        max-width: 58.5vw;
    }
}

@media screen and (max-width: $md) {
    .main-section__title {
        font-size: 5rem;
    }
}

@media screen and (max-width: $sm) {
    .main-section__title {
        font-size: 4.8rem;
    }
}

@media screen and (max-width: $xs) {
    .main-section {
        &__title {
            font-size: 4rem;
            margin-bottom: 2rem;
            line-height: 1;
        }

        &__btn {
            padding: 1.5rem 2rem;
        }
    }
}