@import "../main/parameters";

.tel-section {

    &__row {
        margin-top: 16rem;
        background-color: $c-light-bg;
        margin-bottom: 22rem;
        border-radius: 5rem;
        display: flex;
    }

    &__content {
        position: relative;
        width: 50%;
        text-align: center;
    }

    &__imgs {
        position: relative;
        display: inline-block;
        margin-left: 6rem;
    }

    &__img-tel {
        max-width: 22.3vw;
        position: relative;
        z-index: 2;
        margin: -4.5rem 0;
    }

    &__img-screen {
        position: absolute;
        top: -3rem;
        left: 2rem;
        max-width: 19.3vw;
        z-index: 1;
    }

    &__img-crisps {
        position: absolute;
        bottom: -5rem;
        left: 23rem;
        z-index: 3;
        width: 15.5vw;
    }

    &__img-drink {
        position: absolute;
        bottom: 7rem;
        left: -12rem;
        z-index: 0;
        max-width: 13vw;
    }

    &__text {
        width: 50%;
    }
}

.text {
    padding: 11.5rem 0 15.7rem 0rem;
    &__description {
        font-size: 1.8rem;
        line-height: 1;
        color: $c-text2;
        margin-bottom: 2.2rem;
    }

    &__title {
        font-weight: 900;
        font-size: 4rem;
        line-height: 1.38;
        color: $c-text;
        max-width: 20rem;
    }

    &__descriptions {
        font-size: 1.6rem;
        line-height: 1.5;
        color: $c-text2;
        max-width: 41.4rem;
    }
}
@media screen and (max-width: $lg) {
    .main-section__img {
        right: 0vw;
    }
}

@media screen and (max-width: $md) {
    .tel-section {
        &__img-crisps {
            bottom: -15rem;;
            left: 18rem;
        }

        &__img-tel {
            bottom: -7rem;
            left: 2rem;
        }

        &__img-screen {
            top: 4rem;
            left: 3.5rem;
        }

        &__img-drink {
            bottom: 0rem;
            left: -6rem;
        }

        &__row {
            margin-top: 6rem;
        }
    }
    .text__title {
        font-size: 3.8rem;
    }
}

@media screen and (max-width: $sm) {
    .tel-section {
        &__img-crisps {
            bottom: -19rem;;
            left: 12rem;
        }

        &__img-tel {
            bottom: -14rem;
            left: 0rem;
        }

        &__img-screen {
            top: 10.5rem;
            left: 1rem;
        }

        &__img-drink {
            bottom: -11rem;
            left: -6rem;
        }
    }
}

@media screen and (max-width: $xs) {
    .tel-section {
        &__img-crisps {
            bottom: -26rem;;
            left: 7rem;
        }

        &__img-tel {
            bottom: -20rem;
            left: -2rem;
        }

        &__img-screen {
            top: 16rem;
            left: -1.2rem;
        }

        &__img-drink {
            bottom: -19rem;
            left: -7rem;
        }

        &__row {
            margin-top: -0.2rem;
        }
    }

    .text {
        padding-left: 1rem;

        &__title {
            font-size: 3.4rem;
        }

        &__description {
            font-size: 1.6rem;
            margin-bottom: 1.2rem;
        }

        &__second-line {
            margin-bottom: 1.2rem;
        }
    }
}