footer.footer
    img.footer__img-left(src="./assets/imgs/img21.png", alt="картинка")
    img.footer__img-right(src="./assets/imgs/img22.png", alt="картинка")
    div.container.footer__row
        div.footer__content 
            div.footer__logo 
                a(href="#") 
                    img(src="./assets/imgs/img23.svg", alt="картинка")
            div.footer__text
                div.text__a
                    p.title Company
                    a.a(href="#") Merchant Portal
                div.text__a
                    p.title Support
                    ul 
                        li.li 
                            a.a(href="#") FAQ
                        li.li 
                            a.a(href="#") Terms of Service
                        li.li 
                            a.a(href="#") Privacy Policy
                div.text__a
                    p.title Follow Us
                    ul 
                        li.li 
                            a.a(href="#") Twitter
                        li.li 
                            a.a(href="#") Instagram
                        li.li 
                            a.a(href="#") Facebook