section.friends-section 
    div.container.friends-section__row 
        div.friends-section__content 
            div.friends-section__text
                +items("Please your friends","Send gifts and", "order for groups","Send Gifts with a value for your friends and family and use it on their favorite stores. Be the rock star make Group Orders and pick up for your coworkers when they can't get away.")
            span.tel-section__imgs
                img.tel-section__img-tel(src="./assets/imgs/img14.png", alt="картинка")
                img.tel-section__img-screen(src="./assets/imgs/img15.png", alt="картинка")
                img.friends-section__img-drink(src="./assets/imgs/img16.png", alt="картинка")
                img.friends-section__img-berries(src="./assets/imgs/img17.png", alt="картинка")
        