section.links-section 
    .container.links-section__row 
        .links-section__content
            img.content__img(src="./assets/imgs/img18.svg", alt="картинка") 
            .content__title Enjoy your afternoon tea with a snack 
            .content__send-link
                input.content__input(type="text" placeholder="Enter mobile number")
                a.content__a(href="#") Send Link
            .content__buttons
                a.content__button(href="#")
                    img(src="./assets/imgs/img19.svg", alt="картинка")
                a.content__button(href="#")
                    img(src="./assets/imgs/img20.svg", alt="картинка") 