section.loyalty-points-section
    div.container.loyalty-points-section__row
        div.loyalty-points-section__content
            div.text-block
                mixin itemss(img,title,description)
                    div.text-block__block 
                        div.text-block__img
                            img(src=img, alt="картинка")
                        div.text-block__text
                            p.text-block__title=title 
                            p.text-block__description=description
                div.text-block__first-block
                    +itemss('./assets/imgs/img11.svg','Loyalty Points','Collect points on each store and redeem them to change for Teas.')
                div.text-block__second-block
                    +itemss('./assets/imgs/img12.svg','Exclusive Store Discounts','You can enjoy lots of discounts from the selected stores near you.')
                div.text-block__third-block
                    +itemss('./assets/imgs/img13.svg','T.Pass Free Drinks','2 Teas for $5.99 each month. and you can carry them over to the next month.')
            div.loyalty-points-section__img
                img(src="./assets/imgs/img10.png", alt="картинка")